 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
  }
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    resize: none;
    outline: none;
    margin-top: 20px;
  }
  .hex-output {
    font-family: monospace;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
  }
